<% include _layouts/header %>
<% if (typeof cart != "undefined") { %>
<span style="font-size: 22px" href="/cart/checkout">There are (
    <% if (typeof cart !== "undefined") { %>
    <%= cart.length %>
    <% } else {%>
    0
    <% } %>) items on your cart.</span>
<hr>
<table class="table table-striped alignmiddle">
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
        <th>Subtotal</th>
    </tr>
    <% var total = 0; %>
    <% cart.forEach(function(product) { %>
        <% var sub = parseFloat(product.qty * product.price).toFixed(2) %>
        <% total += +sub %>
        <tr>
            <td><img class="cpi" src="<%= product.image %>" alt=""></td>
            <td><%= product.title %></td>
            <td>$<%= product.price %></td>
            <td><%= product.qty %></td>
            <td>
                <a href="/cart/update/<%= product.title %>?action=add">+</a>&nbsp;
                <a href="/cart/update/<%= product.title %>?action=remove">-</a>&nbsp;
                <a href="/cart/update/<%= product.title %>?action=clear">Clear</a>&nbsp;
            </td>
            <td><b>$<%= sub %></b></td>
        </tr>
    <% }); %>
    <tr>
        <td colspan="6" align="right">
            <b>Total: </b><%= parseFloat(total).toFixed(2) %>
        </td>
    </tr>
    <tr>
        <td colspan="5" align="right">
            <a href="/cart/clear" class="clearcart btn btn-danger">Clear cart</a>
        </td>
        <td colspan="5" align="right">
            <a href="#" class="btn btn-primary buynow">Buy now</a>
        </td>
    </tr>
</table>
<form class="pp" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="logickart@demo.com">
    <% var num = 0; %>
    <% cart.forEach(function(p){ %>
        <% num++ %>
        <input type="hidden" name="item_name_<%= num %>" value="<%= p.title %>">
        <input type="hidden" name="amount_<%= num %>" value="<%= p.price %>">
        <input type="hidden" name="quantity_<%= num %>" value="<%= p.qty %>">
    <% }); %>
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="amount" value="<%= total %>">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>
<% }else { %>
    <h3 class="text-center">Your cart is empty</h3>
<% } %>

<script>
$(function() {
    $('a.clearcart').on('click', function(e){
        if(!confirm('Confirm clear cart'))
            return false
    })

    $('a.buynow').on('click', function (e) {
        e.preventDefault();
        
        $.get('/cart/buynow', function() {
            $('form.pp input[type=image]').click();
            $('.ajaxbg').show();
        });
    });
})

</script>

<% include _layouts/footer %>